* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
}

/*mobil*/

.header__content {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.products__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 0.5em;
    border-radius: 12px;
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card:hover {
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.205);
}

