* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
}

/*mobil*/

.header__content {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.products__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 0.5em;
    border-radius: 12px;
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card:hover {
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.164);
}

.card img {
    border-radius: 8px;
    max-width: 300px;
}

.badge,
.badge__free,
.badge__new {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 4px 8px;
    font-size: 1em;
    border-radius: 2px;
}

.badge {
    background: #e6006b;
    color: white;
}

.badge__free {
    background: #ac9dff;
    color: white;
}

.badge__new {
    background: #bebebe;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;
}

.description {
    font-size: 13px;
    color: #666;
}

.price__row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.old__price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}

.price {
    font-weight: bold;
    font-size: 16px;
}